{% extends 'base.html' %}
{% load static %}

{% block links %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

{% block content %}

<style>
    
    .main {
        height: 100vh;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .loginform{
        padding: 0px 10px;
        margin-bottom: 50px;
        width: 330px;

    }
    h1{
        text-align: center;
        color: rgb(100, 81, 81);
        margin-bottom: 50px;
    }
    .all{
       
        padding-bottom:30px;
        /* background: linear-gradient(90deg, #ff0000 50%, #ffffff 50%); */
        
    }

    input {
        border: none;
        border-bottom:rgb(190, 190, 190) solid 2px;
        width: 100%;
        margin-bottom: 20px;
    }
    label, input {
        display: block;
        margin: auto;

        
    }
    .loginform a {
        display: block;
        text-align: center;
        margin: auto;
    }

    input:focus{
        outline: none;
        transition: .6s;
        border-bottom:rgb(252, 91, 91) solid 2px;
    }
    label{
        margin-bottom: 7px;
    }
    @media only screen and (max-width: 600px) {
        .main-img img {
        width: min(100%, 600px);
    }
    }
    /* .main-img img {
        margin-left: 100px;
    } */
    .btn-solid-sm{
        display: block;
        width: 100%;
    }
</style>
{% if LANGUAGE_CODE == "ar" %}

<div class="all" dir="rtl">
    <div style="margin-top: 116px;">

    </div>
    <div class="container">

            {% for message in messages %}
            
            {% if message.tags == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% endfor %}


    </div>

</div>



{% elif LANGUAGE_CODE == "en" %}
<div class="all" >

    <div style="margin-top: 116px;">

    </div>
    <div class="container">
        

            {% for message in messages %}
            
            {% if message.tags == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% endfor %}

    </div>

</div>


{% endif %}

{% endblock content %}

