{% extends 'base.html' %}
{% load static %}

{% block links %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}

{% block content %}

<style>
    
    .main {
        height: 100vh;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .loginform{
        padding: 0px 10px;
        margin-bottom: 50px;
        width: 330px;

    }
    h1{
        text-align: center;
        color: rgb(100, 81, 81);
        margin-bottom: 50px;
    }
    .all{
       
        padding-bottom:30px;
        /* background: linear-gradient(90deg, #ff0000 50%, #ffffff 50%); */
        
    }

    input {
        border: none;
        border-bottom:rgb(190, 190, 190) solid 2px;
        width: 100%;
        margin-bottom: 20px;
    }
    label, input {
        display: block;
        margin: auto;

        
    }
    .loginform a {
        display: block;
        text-align: center;
        margin: auto;
    }

    input:focus{
        outline: none;
        transition: .6s;
        border-bottom:rgb(252, 91, 91) solid 2px;
    }
    label{
        margin-bottom: 7px;
    }
    @media only screen and (max-width: 600px) {
        .main-img img {
        width: min(100%, 600px);
    }
    }
    /* .main-img img {
        margin-left: 100px;
    } */
    .btn-solid-sm{
        display: block;
        width: 100%;
    }
</style>
{% if LANGUAGE_CODE == "ar" %}

<div class="all" dir="rtl">
    <div style="margin-top: 116px;">

    </div>

    <div class="main">
        <div class="main-img">
            <img width="600px" src="{% static 'vectors/working-on-laptop2.jpg' %}" alt="">
        </div>
        <form action="" method='post' id="loginForm" class="loginform">

            
            {% for message in messages %}
            
            {% if message.tags == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% endfor %}
            {% csrf_token %}

            <h1>استرجاع كلمة المرور</h1>
            <label for="username">اسم المستخدم او بريد الالكتروني</label>

            <input type="text" name="username" value="{{username}}" id="username">
            <br>
            <br>
            <div class="g-recaptcha" data-sitekey="6LcNyyojAAAAABIN0HCMsvxxOuj2v6D7uPYSTFoH"></div>
            <br/>

            <button class="btn-solid-sm" type="submit">استرجاع</button>


            <a href="{% url 'login' %}" style="display: block; margin-top: 20px; color: #ff5574;">تسجيل الدخول</a>
        </form>

    </div>

</div>



{% elif LANGUAGE_CODE == "en" %}
<div class="all" >

    <div style="margin-top: 116px;">

    </div>
    
    <div class="main">
        <div class="main-img">
            <img width="600px" src="{% static 'vectors/working-on-laptop2.jpg' %}" alt="">
        </div>
        <form action="" method='post' id="loginForm" class="loginform">

            
            {% for message in messages %}
            
            {% if message.tags == 'error' %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% elif message.tags == 'success' %}
              <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
              {% endfor %}
            {% csrf_token %}

            <h1>Password Recovery</h1>
            <label for="username">Username or email</label>

            <input type="text" name="username" value="{{username}}" id="username">
            <br>
            <br>
            <div class="g-recaptcha" data-sitekey="6LcNyyojAAAAABIN0HCMsvxxOuj2v6D7uPYSTFoH"></div>
            <br/>

            <button class="btn-solid-sm" type="submit">Reset Password</button>


            <a href="{% url 'login' %}" style="display: block; margin-top: 20px; color: #ff5574;">Login</a>
        </form>

    </div>

</div>


{% endif %}

{% endblock content %}

