{%load static%}
{% load i18n %}
{% load loadArticleTypes %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{%ArticleTypesObjects as ArticleTypes%}

<style>
#changeLang {
    padding: 5px;
    padding-right: 18px;
    border-radius: 7px;
    border: 1px solid rgb(187, 187, 187);
}
</style>

<script>

    function FormSubmit(){
        document.getElementById("FormLang").submit()
    };

</script>

{% if LANGUAGE_CODE == "en" %}




    <!-- Navigation -->
    <nav  id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" id="nav-logo-name" href="{% url 'index' %}"><img id="nav-logo" src="{% static 'logo/logo150x150.webp' %}" alt="alternative">UltraSV</a> 


            




            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Zinc</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{LANGUAGE_CODE}}/#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{LANGUAGE_CODE}}/#projects">Latest Articles</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% url 'blog' %}">All</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            {% for art in ArticleTypes%}
                            <li><a class="dropdown-item" href="{% url 'ShowArticles' art.id %}">{{art}}</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">Store</a>
                    </li>
                    <li class="nav-item">

                        <form action="{% url 'ChangeLanguage' %}" id="FormLang" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                            <select id="changeLang" onchange="FormSubmit()" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>

                    </li>
                </ul>
                <span class="nav-item">
                    <a class="btn-solid-sm" href="{% url 'blog' %}">All sections of the blog</a>
                    
                </span>



            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    




{% elif LANGUAGE_CODE == "ar" %}




    <!-- Navigation -->
    <nav dir="rtl" id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" id="nav-logo-name" href="{% url 'index' %}"><img id="nav-logo" src="{% static 'logo/logo150x150.webp' %}" alt="alternative">UltraSV</a> 





            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Zinc</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">الصفحة الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{LANGUAGE_CODE}}/#services">الخدمات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/{{LANGUAGE_CODE}}/#projects">احدث المقالات</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">المدونة</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% url 'blog' %}">الجميع</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            {% for art in ArticleTypes%}
                            <li><a class="dropdown-item" href="{% url 'ShowArticles' art.id %}">{{art}}</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            {% endfor %}

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'store' %}">المتجر</a>
                    </li>

                    <li class="nav-item">

                        <form action="{% url 'ChangeLanguage' %}" id="FormLang" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
                            <select id="changeLang" onchange="FormSubmit()" name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
    
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto navbar-nav-scroll">

                    <span class="nav-item">
                        <a class="btn-solid-sm " href="{% url 'blog' %}">جميع اقسام المدونة</a>
                        
                    </span>   



            </ul>

            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    


{% endif %}
